<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <!--Titulo da Página-->
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <h1><span class="badge rounded-pill bg-success titulo">Edite o Jogo</span></h1>
                    </div>
                </div>
                <div class="fundo">
                    <!--Formulário-->
                    <form id="formulario" action='/editarJogo/<%= jogos && jogos.id %>?_method=PUT' method="POST">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="cep" id="formGroupExampleInput"
                                        placeholder="CEP" value="<%= jogos.cep %> ">
                                </div>

                                <div class="col-sm-8 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="endereco" id="formGroupExampleInput"
                                        placeholder="Endereço" value="<%= jogos.endereco %> ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="numero" id="formGroupExampleInput"
                                        placeholder="N°" value="<%= jogos.numero %> ">
                                </div>
                                <div class="col-sm-3 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="bairro" id="formGroupExampleInput"
                                        placeholder="Bairro" value="<%= jogos.bairro %> ">
                                </div>
                                <div class="col-sm-2 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="estado" id="formGroupExampleInput"
                                        placeholder="UF" value="<%= jogos.estado %> ">
                                </div>
                                <div class="col-sm-4 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="cidade" id="formGroupExampleInput"
                                        placeholder="Cidade" value="<%= jogos.cidade %> ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="data" id="formGroupExampleInput"
                                        placeholder="Data" value="<%= jogos.data %> ">
                                </div>
                                <div class="col-sm-3 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="hora" id="formGroupExampleInput"
                                        placeholder="Horário" value="<%= jogos.hora %> ">
                                </div>
                                <div class="col-sm-4 campos">
                                    <label for="formGroupExampleInput"></label>
                                    <input type="text" class="form-control" name="esporte" id="formGroupExampleInput"
                                    placeholder="Esporte" value="<%= jogos.esporte %> ">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 campos">
                                <div id="inputFile" class="campos inputFile icones">
                                    <label>
                                        <ion-icon size="large" name="camera"></ion-icon>
                                    </label>
                                    <input type="file" name="fotoLugar" id="fotoLugar" class="form-control campos" value="<%= jogos.fotoLugar %> ">
                                </div>

                            </div>
                        </div>
                        <!--Botão Criar-->
                        <div class="text-center">
                            <button type="submit" id="criar" class="btn btn-primary botao">Concluir</button>
                        </div>
                </div>
                </form>

                </div>
            </main>

            <%- include('./partials/footer') %>
    </body>

    </html>