<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>  
     

    <main>
         <!--Titulo da Página-->
         <div class="row justify-content-center">
            <div class="col-auto">
                <h1><span class="badge rounded-pill bg-success titulo">Participantes</span></h1>
            </div>
        </div>
        <div class="fundo">
            <!--Formulário-->
            <h2>Participantes:</h2>
            <% if (user) { %>
                <% user.map(user => { %>
                    <form>
                            <input type="text" class="btn btn-primary botao" placeholder="<%= user.user %>">
                            <button type="button" class="btn btn-primary botao">Excluir participante</button>
                            
                    </form>
                    <% }); %>
                <% } else { %>
                <h4>Nenhum parcipante no Jogo</h4>
                <% }; %>

                <div class="text-center"> 
                <form action="" method="GET"><button id="singlebutton" class="btn btn-primary botao editar">Voltar</button></form>
                </div>
        </div>
    </main>

    <%- include('./partials/footer') %>  
    <%- include('./partials/popUp') %> 
</body>

</html>