<%- include('./partials/head') %>

<body>
  
  <%- include('./partials/header') %>      
  <main>
    <!--Titulo da Página-->
    <div class="fundo">
      <div class="card" style="width: 90%">
          <div class="card-body">
            <h5 class="card-title"><%= jogo.esporte %> - <%= jogo.data %> às <%= jogo.hora %> </h5>
            <ul class="list-group">
            <li class="list-group-item">  
              <%= jogo.endereco %> , N° <%= jogo.numero %>,<br>
              <%= jogo.bairro %>, <br>
              <%= jogo.cep %> <br>
            </li>
            </ul>
          </div>
      </div>
    </div>
    
  </main>
  <%- include('./partials/footer') %>  

</body>
</html>